{% extends 'core/base.html' %}

{% block title %}Шаблоны | {% endblock %}

{% block content %}
<section class="hero is-medium is-light is-bold">
        <div class="container">
            <br>
            <h1 class="title">Шаблоны</h1>
            <br>
        </div>
</section>  

<br>
<div class="columns">
    <aside class="menu">
        <p class="menu-label"> </p>
        <p class="menu-label">Управление проектами</p>
        <ul class="menu-list">
            <li><a href="#project_schedule">Вернуть график проекта в нужное русло</a></li>
        </ul>
        <p class="menu-label">Маркетинг</p>
        <ul class="menu-list">
            <li><a href="#meal_quality">Улучшить качество питания на рейсе Санкт-Петербург - Осло</a></li>
        </ul>
        <p class="menu-label">Пиар</p>
        <ul class="menu-list">
            <li><a href="#life_quality">Качество жизни в районе Парк 300</a></li>
        </ul>
        <p class="menu-label">Операционные решения</p>
        <ul class="menu-list">
            <li><a href="#defective_product">Бракованный товар</a></li>
        </ul>
    </aside>

    <div class="column content">
        <div class="box">
            <table class="table" id="project_schedule">
                <thead>
                    <tr>
                    <th colspan="5" class="is-selected">План действий: Вернуть график проекта в нужное русло</th>
                    </tr>
                    <tr>
                    <th>Действие</th>
                    <th>Цель</th>
                    <th><abbr title="Estimated complexity">Ч</abbr></th>
                    <th>Ответственные</th>
                    <th>Ресурсы</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Пересмотреть требования к элементам, приоритетность которых может быть изменена.</td>
                    <td>Перемещение некритичных требований к следующей версии.</td>
                    <td>12</td>
                    <td>Спонсор</td>
                    <td>Спонсор</td>
                    </tr>
                    <tr>
                    <td>Найти новые ресурсы, чтобы ускорить цикл тестирования.</td>
                    <td>Сжатие тестирование.</td>
                    <td>2</td>
                    <td>Руководитель проекта</td>
                    <td>Менеджер по тестированию</td>
                    </tr>
                    <tr>
                    <td>Просить разработчиков работать сверхурочно в обмен на особые компенсации.</td>
                    <td>Сжатие разработки.</td>
                    <td>4</td>
                    <td>Руководитель проекта</td>
                    <td>Менеджер по развитию, 5000 руб.</td>
                    </tr>
                    <tr>
                    <td>Новое расписание и бюджет.</td>
                    <td>Получить одобрение нового плана.</td>
                    <td>6</td>
                    <td>Руководитель проекта</td>
                    <td>Руководитель проекта</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table class="table" id="meal_quality">
                <thead>
                    <tr>
                    <th colspan="5" class="is-selected"> План действий: Улучшить качество питания на рейсе Санкт-Петербург - Осло.</th>
                    </tr>
                    <tr>
                    <th>Действие</th>
                    <th>Цель</th>
                    <th><abbr title="Estimated complexity">Ч</abbr></th>
                    <th>Ответственные</th>
                    <th>Ресурсы</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Провести исследование рынка с фокус-группой пассажиров.</td>
                    <td>Разработать требования к еде.</td>
                    <td>6</td>
                    <td>Маркетинг</td>
                    <td>Операционный офис в Санкт-Петербурге</td>
                    </tr>
                    <tr>
                    <td>Тестировать три новых блюда в неделю от разных поставщиков.</td>
                    <td>Тестировать услуги питания.</td>
                    <td>1</td>
                    <td>Маркетинг</td>
                    <td>Операционный офис в Санкт-Петербурге</td>
                    </tr>
                    <tr>
                    <td>Опросить клиентов, попробовавших новые блюда.</td>
                    <td>Измерять качество новых блюд.</td>
                    <td>1</td>
                    <td>Маркетинг</td>
                    <td>Операционный офис в Осло</td>
                    </tr>
                    <tr>
                    <td>Выбрать поставщиков с лучшими блюдами и заключить новые контракты.</td>
                    <td>Использовать более удовлетворительные услуги питания.</td>
                    <td>2</td>
                    <td>Маркетинг</td>
                    <td>Операционный офис в Санкт-Петербурге</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table class="table" id="life_quality">
                <thead>
                    <tr>
                    <th colspan="5" class="is-selected">План действий: Качество жизни в районе Парк 300</th>
                    </tr>
                    <tr>
                    <th>Действие</th>
                    <th>Цель</th>
                    <th><abbr title="Estimated complexity">Предполагаемая продолжительность</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Больше поездов со средним временем ожидания менее 6 минут.</td>
                    <td>Поощрять использование поездов, уменьшать заторы на дорогах, улучшать качество воздуха.</td>
                    <td>120</td>
                    </tr>
                    <tr>
                    <td>Создать 5 новых жилых улиц, которые позволят смешанное использование окрестностей.</td>
                    <td>Больше общественного пространства для детей и общения с соседями. </td>
                    <td>220</td>
                    </tr>
                    <tr>
                    <td>Увеличить зеленые насаждения за счет посадки 600 новых деревьев на улицах.</td>
                    <td>Больше зеленых насаждений, достаточно больших деревьев, чтобы защитить пешеходов от машин.</td>
                    <td>6</td>
                    </tr>
                    <tr>
                    <td>Блок D будет преобразован в новый парк со спортивными сооружениями, включая скейтпарк.</td>
                    <td>Услуги, которые пользуются спросом у местной молодежи.</td>
                    <td>60</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table class="table" id="defective_product">
                <thead>
                    <tr>
                    <th colspan="5" class="is-selected">План действий: решить проблему бракованного товара</th>
                    </tr>
                    <tr>
                    <th>Действие</th>
                    <th>Цель</th>
                    <th><abbr title="Estimated complexity">Предполагаемая продолжительность</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>оформить замену заказчику</td>
                    <td>решающее действие</td>
                    <td>1</td>
                    </tr>
                    <tr>
                    <td>сделать жест доброй воли</td>
                    <td>решающее действие</td>
                    <td>1</td>
                    </tr>
                    <tr>
                    <td>анализ причин</td>
                    <td>корректирующее действие</td>
                    <td>2</td>
                    </tr>
                    <tr>
                    <td>поиск решений</td>
                    <td>корректирующее действие</td>
                    <td>1</td>
                    </tr>
                    <tr>
                    <td>реализация решений</td>
                    <td>корректирующее действие</td>
                    <td>6</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table class="table" id="project_schools">
                <thead>
                    <tr>
                    <th colspan="5" class="is-selected">План действий: Все недостаточно квалифицированные учителя повышают свою квалификацию.
Индикатор: Учителя соответствуют требованиям для повышения квалификации.
Способы проверки: в конце периода в школах должно быть доказательство повышения класса. 
Показатель успеваемости: учителя зарегистрированы для обучения в высшем учебном заведении.</th>
                    </tr>
                    <tr>
                    <th>Действие</th>
                    <th>Цель</th>
                    <th><abbr title="Estimated complexity">Ч</abbr></th>
                    <th>Ответственные</th>
                    <th>Ресурсы</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Связаться со всеми школами и запросить списки неквалифицированных учителей и их специальностей.</td>
                    <td>Списки неквалифицированных учителей.</td>
                    <td>12</td>
                    <td>Руководитель проекта</td>
                    <td>Стоимость телефона, электронной почты, время работы секретаря.</td>
                    </tr>
                    <tr>
                    <td>Связаться с высшими учебными заведениями для получения подробной информации о соответствующих курсах и пригласить их на День открытых дверей.</td>
                    <td>потенциальные студенты могут обсудить с ними варианты.</td>
                    <td>12</td>
                    <td>Руководитель проекта</td>
                    <td>Стоимость телефона, электронной почты, время работы секретаря</td>
                    </tr>
                    <tr>
                    <td>Забронировать место и организовать День открытых дверей.</td>
                    <td>День открытых дверей.</td>
                    <td>4</td>
                    <td>Руководитель проекта</td>
                    <td>Стоимость места, телефон, электронная почта и время работы секретаря.</td>
                    </tr>
                    <tr>
                    <td>Обратиться к высшим учебным заведениям и составить список специальностей.</td>
                    <td>список специальностей.</td>
                    <td>4</td>
                    <td>Руководитель проекта</td>
                    <td>телефон, электронная почта, ксерокопирование и время.</td>
                    </tr>
                    <tr>
                    <td>Раздать список школам, с приглашением на День открытых дверей.</td>
                    <td>День открытых дверей.</td>
                    <td>4</td>
                    <td>Руководитель проекта</td>
                    <td>телефон, электронная почта и время.</td>
                    </tr>
                    <tr>
                    <td>Подтвердит количество школ участников Дня открытых дверей.</td>
                    <td>количество участников.</td>
                    <td>6</td>
                    <td>Руководитель проекта</td>
                    <td>телефон, электронная почта и время</td>
                    </tr>
                    <tr>
                    <td>Подготовить формы обратной связи для заполнения вузами и потенциальными студентами после Дня открытых дверей.</td>
                    <td>формы обратной связи.</td>
                    <td>2</td>
                    <td>Руководитель проекта</td>
                    <td>ксерокопирование и время</td>
                    </tr>
                    <tr>
                    <td>Провести день открытых дверей - приветственное слово.</td>
                    <td>Директор организации выступит с речью.</td>
                    <td>6</td>
                    <td>Руководитель проекта</td>
                    <td>время сотрудников на Дне открытых дверей, транспортные расходы</td>
                    </tr>
                    <tr>
                    <td>Собрать, анализировать формы по окончании Дня открытых дверей.</td>
                    <td>формы.</td>
                    <td>1</td>
                    <td>Руководитель проекта</td>
                    <td>время</td>
                    </tr>
                    <tr>
                    <td>Поблагодарить учреждения участников Дня открытых дверей.</td>
                    <td>.</td>
                    <td>1</td>
                    <td>Руководитель проекта</td>
                    <td>телефон, электронная почта и время</td>
                    </tr>
                    <tr>
                    <td>Запросить копии регистрационных свидетельств у учителей.</td>
                    <td>копии регистрационных свидетельств.</td>
                    <td>1</td>
                    <td>Руководитель проекта</td>
                    <td>телефон, электронная почта и время</td>
                    </tr>
                    <tr>
                    <td>Подготовить отчет о Дне открытых дверей.</td>
                    <td>сводный отчет.</td>
                    <td>1</td>
                    <td>Руководитель проекта</td>
                    <td>время</td>
                    </tr>
                    <tr>
                    <td>Проанализировать незарегистрированных учителей, чтобы выяснить, почему они не зарегистрировались.</td>
                    <td>альтернативные стратегии повышения квалификации этих учителей.</td>
                    <td>10</td>
                    <td>Руководитель проекта</td>
                    <td>телефон, электронная почта и время</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div> 
{% endblock %}