{% extends 'core/base.html' %}

{% block title %}Редактировать профиль | {% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            {% comment %} <li><a href="#">Dashboard</a></li> {% endcomment %}
            {% comment %} <li><a href="#">Моя учетная запись</a></li> {% endcomment %}
            {% comment %} <li class="is-active"><a href="{% url 'profile' %}" aria-current="page">Редактировать профиль</a></li> {% endcomment %}
        </ul>
    </nav>

    <div class="columns">
        <div class="column is-4">
            <h1 class="title">Редактировать профиль</h1>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label>Имя</label>
                    <div class="control">
                        <input type="text" name="first_name" id="first_name" class="input"{% if request.user.first_name %} value="{{ request.user.first_name }}"{% endif %}>
                    </div>
                </div>
                <div class="field">
                    <label>Фамилия</label>
                    <div class="control">
                        <input type="text" name="last_name" id="last_name" class="input"{% if request.user.last_name %} value="{{ request.user.last_name }}"{% endif %}>
                    </div>
                </div>
                <div class="field">
                    <label>Эл. почта</label>
                    <div class="control">
                        <input type="text" name="email" id="email" class="input"{% if request.user.email %} value="{{ request.user.email }}"{% endif %}>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-light">Сохранить изменения</button>
                        <a href="{% url 'logout' %}" class="button is-light">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span>Выйти</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}